$root-container-min-width: 450px;
$root-container-max-width: 800px;
$entry-content-container-width: 80%;
$entry-button-container-width: 100% - $entry-content-container-width;
$entry-button-size: 50px;
$entry-content-edit-form-height: 80px;
$entry-creation-form-title-input-height: 20px;
$entry-creation-form-title-input-width: 40%;
$entry-creation-form-content-input-height: 100px;
$entry-creation-form-content-input-width: 80%;
$isbn-form-image-height: 200px;
$isbn-form-iframe-container-min-width: 300px;
$isbn-form-iframe-container-max-width: 725px;
$isbn-form-iframe-height: 350px;
$report-button-container-height: 75px;
$loading-size: 50px;
$error-container-height: 90px;
$error-container-width: 300px;
$error-height: 50px;
$error-width: 250px;
$tiny-margin: 5px;
$small-margin: 15px;
$medium-margin: 20px;
$big-margin: 30px;