.title-container {
  height: 75px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}

.entry-list {
  background-image: url("res/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px;
  border-style: ridge;
  border-width: 14px;
  border-radius: 8px;
  border-color: darkSeaGreen;
  margin-bottom: 25px;
  list-style-type: none;
}