@import "types";

.entry-creation-form {
  @extend %entry-creation-form-border;
  @extend %entry-creation-form-background;
  @extend %medium-margin-left-right;
  @extend %small-margin-bottom;
}

.entry-creation-form-title {
  @extend %big-title;
}

.entry-creation-form-title-input {
  @extend %entry-creation-form-input-border;
  @extend %medium-margin-left;
  @extend %tiny-padding-left;
  @extend %small-margin-bottom;
  background-color: $entry-creation-form-input-background-color;
  height: $entry-creation-form-title-input-height;
  width: $entry-creation-form-title-input-width;
}

.entry-creation-form-content-input {
  @extend %entry-creation-form-input-border;
  @extend %medium-margin-left;
  @extend %tiny-padding-top-left;
  @extend %small-margin-bottom;
  background-color: $entry-creation-form-input-background-color;
  height: $entry-creation-form-content-input-height;
  width: $entry-creation-form-content-input-width;
}

.entry-creation-form-submit-button {
  @extend %entry-creation-form-input-border;
  @extend %submit-button;
  @extend %medium-margin-left;
  @extend %small-margin-bottom;
  background-color: $entry-creation-form-input-background-color;
}

.entry-creation-form-warning-message {
  @extend %small-margin-left;
  font-weight: bold;
}