@import "types";

.error-container {
  @extend %absolute-screen-center;
  @extend %error-container-border;
  @extend %title;
  @extend %absolute-top;
  height: auto;
  width: $error-container-width;
  background-color: $error-container-background-color;
  padding: $medium-margin;
}

.error {
  height: auto;
  width: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: small;
}