@import "types";

.isbn-form {
  @extend %isbn-form-background;
  @extend %isbn-form-border;
  @extend %small-margin-bottom;
}

.isbn-form-form {
  @extend %small-margin-bottom;
}

.isbn-form-title {
  @extend %big-title;
}

.isbn-form-image {
  @extend %isbn-form-image-background;
  @extend %medium-margin-left;
  @extend %small-margin-bottom;
  height: $isbn-form-image-height;
}

.isbn-form-input {
  @extend %isbn-form-input-border;
  @extend %medium-margin-left;
  @extend %tiny-padding-left;
  background-color: $isbn-form-input-background-color;
}

.isbn-form-submit-button {
  @extend %isbn-form-input-border;
  @extend %submit-button;
  @extend %small-margin-left;
  background-color: $isbn-form-input-background-color;
}

.isbn-form-iframe {
  background-color: $isbn-form-iframe-background-color;
  height: $isbn-form-iframe-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.isbn-form-modal-view {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}