.report-button-container {
  height: 75px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.report-button {
  background-color: lightSkyBlue;
  font-size: xx-large;
  width: 100%;
  height: 100%;
}